<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
          Fernando Rueda Portfolio
        </title>
        <link rel="icon" type="image/png" href="img/fernando.png">
        <meta charset="UTF-8">
        <meta name="description" content="Busqueda de mascotas perdidas">
        <meta name="keywords" content="Fernando Rueda Oliva portfolio developer programador apps aplicaciones android web java node js">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--STYLES-->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
        <!--STYLES END-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    </head>
    <body ng-app="portfolio" ng-controller="HomeController"  class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-6">
                    <img class="img-rounded" src="img/fernando.png"/>
                </div>
                <div class="col-xs-6 text-right">
                    <a target="_blank" href="https://es.linkedin.com/in/fernando-rueda-oliva-7772aa95">
                        <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <h1>Fernando Rueda Oliva</h1>
            </div>
        </div>
        <h2>Presentación</h2>
        <p>Hola soy Fernando Rueda Oliva desarrollador fullstack con más de 6 años de experiencia trabajando con diferentes clientes creando y proveeyendo soluciones tecnológicas.
        <div class="row">
            <div class="col-sm-4" ng-repeat="solution in solutions">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{solution.title}}
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info" ng-repeat="example in solution.examples">{{example}}</li>
                        </ul>
                        <div class="row">
                            <div ng-repeat="icon in solution.icons" class="col-xs-4 text-center">
                                <i class="fa fa-{{icon}} fa-4x" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>Experiencia profesional</h2>
        <div>
            <div class="row">
                <div class="col-sm-12" ng-repeat="experience in experiencies">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{experience.title}}</div>
                        <div class="panel-body">{{experience.description}}
                            <div>
                                <h3>Proyectos</h3>
                                <div class="row">
                                    <div class="col-sm-{{12/experience.projects.length}}" ng-repeat="project in experience.projects">
                                        <h4>
                                            <a ng-if="project.url" target="_blank" href="{{project.url}}">{{project.title}}</a>
                                            <a ng-if="!project.url" href="">{{project.title}}</a>
                                        </h4>
                                        <p>{{project.description}}</p>
                                        <div>
                                            <ul class="list-inline">
                                                <li ng-repeat="technology in project.technologies" class="list-group-item list-group-item-info">{{technology}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="row">
                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-6">
                            <img class="img-responsive" src="{{parallaxSrc[$index]}}" du-parallax y="background" alt="" />
                        </div>
                        <div class="col-sm-3">&nbsp;</div>
                    </section>
                </div>
            </div>
        </div>
    <footer class="footer hidden-print">
      <div class="row">
        <div class="col-xs-5">
          <p>Fernando Rueda Oliva</p>
        </div>
        <div class="col-xs-7 text-right">
          <a href="mailto:fernandoruedaoliva@gmail.com">Contacto</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <a href="https://twitter.com/petfinderweb" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        </div>
        <div class="col-xs-7 text-right">
          <a href="https://www.facebook.com/profile.php?id=100012146880747&fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
        </div>
      </div>
    </footer>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-touch/angular-touch.min.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
        <script src="bower_components/ng-parallax/angular-parallax.min.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>
